/*Boilerplate CSS*/

body {
	margin: auto;
	height: auto;    

}

h1 {
	font-size: 28px;
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: 65px;
	color: #000;
}

h1 a {
	text-decoration: none;
	cursor: pointer;
	transition: all 150ms ease-in-out;
	color: #000;
}

h1 a:hover {
	color: #0082c9;
}

@media (max-width: 500px) {
	h2 {
		font-size: 25px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 35px;
		color: #000;
	}
}

@media (min-width: 501px) {
	h2 {
		font-size: 35px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 50px;
		color: #000;
	}
}

@media (min-width: 851px) {
	h2 {
		font-size: 40px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 55px;
		color: #000;
	}
}

@media (min-width: 1001px) {
	h2 {
		font-size: 50px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 65px;
		color: #000;
	}
}

@media (min-width: 1851px) {
	h2 {
		font-size: 80px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .5px;
		line-height: 95px;
		color: #000;
	}
}

@media (max-width: 1600px) {
	h3 {
		font-size: 24px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: capitalize;
		letter-spacing: 1px;
	}
}

@media (min-width: 1601px) {
	h3 {
		font-size: 28px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: capitalize;
		letter-spacing: 1px;
	}
}

@media (max-width: 1250px) {
	h4 {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 20px;
	}

	h4 a {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;

	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (min-width: 1001px) {
	h4 {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 27px;
	}

	h4 a {
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 14px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;

	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (min-width: 1601px) {
	h4 {
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 40px;
	}

	h4 a {
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a, a:visited { 
		font-size: 18px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #000;
		text-decoration: none;
		transition: all 150ms ease-in-out;
	}

	h4 a.glossary-link.active {
		background-color: #0082c9;
	}

	h4 a:hover {
		background-color: #0082c9;
	}
}

@media (max-width: 500px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 30px;
	}
}

@media (min-width: 501px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 28px;
		line-height: 47px;
	}
}
@media (min-width: 1601px) {
	p {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 40px;
		line-height: 65px;
	}
}

a {

}

hr {
	position: relative;
}

/*Navigation*/

@media (max-width: 500px) {
	#nav-content {
		position: relative;
		margin-top:60px;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;

		height: 70vh;
	}
}


@media (min-width: 501px) {
	#nav-content {
		position: relative;
		margin-top:60px;
		overflow: scroll;
		height: 90vh;
	}
}



@media (min-width: 1250px) {
	#nav-content {
		position: fixed;
		width: 90%;		
		margin-left: 5%;
		margin-right: 5%;
		overflow: scroll;
		height: 100%;
		margin-top: -22%;
	}
}

@media (min-width: 1600px) {
	#nav-content {
		position: relative;
		margin-top: -17vh;
		overflow: scroll;
		height: 90vh;
	}
}


@media (max-width: 1250px) {
	#nav {
		width: 100%;
		height: 60px;
		background: #ffd400; 
		z-index: 10000;
		position: fixed;
		right: 0;
		transition: height 150ms ease-in-out;
		-webkit-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		-moz-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
	}

	#nav.clicked {
		height: 100%;
	}
}

@media (min-width: 1251px) {
	#nav {
		width: 60px;
		height: 100%;
		background: #ffd400;
		z-index: 10000;
		position: fixed;
		right: 0;
		transition: width .5s ease-in-out;
		-webkit-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		-moz-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
	}

	#nav.clicked {
		width: 100%;
	}
}

/*Hamburger Menu*/

@media (max-width: 500px) {
	#nav-toggle { 
		margin-left: auto;
		right: 20px;
		top: 18px; 
		position: fixed;
	}
}

@media (min-width: 501px) {
	#nav-toggle { 
		margin-left: auto;
		right: 50px;
		top: 18px; 
		position: fixed;

	}
}

@media (min-width: 1251px) {
	#nav-toggle { 
		position: relative; 
		left: 13px; 
		top: 30px; 
		height: 100px;
		width: auto;
		display: block;
	}
}

@media (min-width: 1600px) {
	#nav-toggle { 
		position: relative; 
		left: 13px; 
		top: 30px; 
		height: 20px;
		display: block;
	}
}

#nav-toggle { 
	cursor: pointer; 
	padding: 10px 35px 16px 0px; 
	display: block;
}



#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 30px;
	background: #000;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle:hover span, #nav-toggle:hover span:before, #nav-toggle:hover span:after {
	cursor: pointer;
	border-radius: 1px;
	height: 4px;
	width: 30px;
	background: #0082c9;
	position: absolute;
	display: block;
	content: '';
}


#nav-toggle span:before {
	top: -10px; 
}

#nav-toggle span:after {
	bottom: -10px;
}



#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	transition: all 150ms ease-in-out;
}

#nav-toggle.active span {
	background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
	top: 0px;
}

#nav-toggle.active span:before {
	transform: rotate(45deg);
}

#nav-toggle.active span:after {
	transform: rotate(-45deg);
}



@media (max-width: 500px) {
	.logo {
		width: 190px;
		height: auto;
		position: fixed;
		margin-left: 20px;
		margin-right: auto;
		top: -20px;
		clear: both;
	}
}

@media (min-width: 501px) {
	.logo {
		width: 190px;
		height: auto;
		position: fixed;
		margin-left: 50px;
		margin-right: auto;
		top: -20px;
		clear: both;
	}
}

@media (min-width: 1251px) {
	.logo {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
		width: 190px;
		height: auto;
		position: relative;
		left: -7em;
		top: 26vh;
	}
}

@media (min-width: 1600px) {
	.logo {
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
		width: 190px;
		height: auto;
		position: relative;
		left: -7em;
		top: 38vh;
	}
}

@media (max-width: 500px) {
	.about {
		margin-left: auto;
		right: 70px;
		top: -20px; 
		position: fixed;
	}
}

@media (min-width: 501px) {
	.about {
		margin-left: auto;
		right: 110px;
		top: -20px; 
		position: fixed;
	}
}

@media (min-width: 1251px) {
	.about {
		width: auto;
		height: auto;
		position: relative;
		left: 1.3em;
		top: 55%;
		transition: all 150ms ease-in-out;
		cursor: pointer; 
	}
}

@media (min-width: 1600px) {
	.about {
		width: auto;
		height: auto;
		position: relative;
		left: 1.3em;
		top: 78%;
		transition: all 150ms ease-in-out;
		cursor: pointer; 
	}
}



.nav-links {
	margin-left: -40px;
	margin-right: auto;
	margin-bottom: 1vh;
}

.nav-title {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 900px) {
	li.menu {
		text-align: center;
		font-size: 13px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 60px;
		list-style: none;
		color: #000;
	}

	li.menu a {
		text-align: center;
		font-size: 13px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 60px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}

	li.first {
		text-align: center;
		font-size: 13px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 60px;
		list-style: none;
		color: #000;
	}

	li.first a {
		text-align: center;
		font-size: 13px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 3px;
		line-height: 60px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}
}

@media (min-width: 901px) {
	li.menu {
		text-align: center;
		font-size: 15px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 60px;
		list-style: none;
		color: #000;
	}

	li.menu a {
		text-align: center;
		font-size: 15px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 60px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}

	li.first {
		text-align: center;
		font-size: 15px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 60px;
		list-style: none;
		color: #000;
	}

	li.first a {
		text-align: center;
		font-size: 15px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 60px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}
}



@media (max-height: 1250px) {
	h2.nav-title{
		text-align: center;
		font-size: 36px;
	}
}


@media (min-height: 1251px) {
	h2.nav-title{
		text-align: center;
		font-size: 45px;
	}
}

@media (max-width: 1250px) {
	h2.nav-title{
		text-align: center;
		font-size: 34px;
	}
}

@media (max-width: 900px) {
	h2.nav-title{
		text-align: center;
		font-size: 22px;
	}
}

@media (min-width: : 901px) {
	h2.nav-title{
		text-align: center;
		font-size: 36px;
	}
}


.nav-title{
	width: 90%;
}



@media (max-width: 1250px) {
	.menu {
		width: 100%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 4px;
		transition: all 150ms ease-in-out;
		overflow: scroll;
	}

	.first {
		width: 100%;
		margin: auto;
		height: auto;
		border-top: solid #000 4px;
		border-bottom: solid #000 4px;
		transition: all 150ms ease-in-out;
		overflow: scroll;
	}

	.menu:hover{
		width: 100%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 4px;
		background-color: #0082c9;
	}

	.first:hover{
		width: 100%;
		margin: auto;
		height: auto;
		border-top: solid #000 4px;
		border-bottom: solid #000 4px;
		background-color: #0082c9;
	}
}


@media (min-width: 1001px) {
	.menu {
		width: 40%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 4px;
		transition: all 150ms ease-in-out;
		overflow: scroll;
	}

	.first {
		width: 40%;
		margin: auto;
		height: auto;
		border-top: solid #000 4px;
		border-bottom: solid #000 4px;
		transition: all 150ms ease-in-out;
		overflow: scroll;
	}

	.menu:hover{
		width: 40%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 4px;
		background-color: #0082c9;
	}

	.first:hover{
		width: 40%;
		margin: auto;
		height: auto;
		border-top: solid #000 4px;
		border-bottom: solid #000 4px;
		background-color: #0082c9;
	}
}


@media (min-width: 1851px) {
	li.menu{
		text-align: center;
		font-size: 30px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 100px;
		list-style: none;
		color: #000;

	}

	li.menu a {
		text-align: center;
		font-size: 30px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 100px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}


	h2.nav-title{
		text-align: center;
		font-size: 60px;
	}


	.nav-title{
		width: 90%;
	}

	.menu {
		width: 40%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 5px;
		transition: background-color .1s;
	}

	.menu:hover{
		width: 40%;
		margin: auto;
		height: auto;
		border-bottom: solid #000 5px;
		background-color: #0082c9;
	}


	.first {
		width: 40%;
		margin: auto;
		height: auto;
		border-top: solid #000 5px;
		border-bottom: solid #000 5px;
		transition: all 150ms ease-in-out;
	}

	.first:hover {
		width: 40%;
		margin: auto;
		height: auto;
		border-top: solid #000 5px;
		border-bottom: solid #000 5px;
		background-color: #0082c9;
	}

	li.first {
		text-align: center;
		font-size: 30px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 100px;
		list-style: none;
		color: #000;
	}

	li.first a {
		text-align: center;
		font-size: 30px;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 5px;
		line-height: 100px;
		list-style: none;
		text-decoration: none;
		color: #000;
	}
}

/*Myths grid
*/

#f {
	width: 100%;
	height: auto;
	position:fixed; top:0; left:0;
}

.wrap {
	margin-right: 60px;
	position: absolute;
	width: calc(100% - 60px);
	height: 100vh;

}

.box {
	width: 50%;
	height: 50vh;
	color: #FFF;
	position: relative;
	float: left;
	overflow: hidden;
}


@media (min-width : 1051px) {
	.innerContent1 {
		position: absolute;
		left: 0px;
		right: 0px;
		border-right: 5px solid #fff;
		top: 0px;
		border-bottom: 5px solid #fff;
		bottom: 0px;
		padding-top: 10%;
		padding-left: 4em;
		padding-right: 4em; 
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		transition: all 150ms ease-in-out;
	}

	div.innerContent1 > div {
		position: absolute;
		left: 0px;
		right: 5px;
		top: 0px;
		bottom: 5px;
		height: 100%;
		width: 100%;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-image: url("myths_01_02.png");
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: -1;
	}

	div.innerContent1:hover > div {
		-moz-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);    
	}



	.innerContent2 {
		position: absolute;
		left: 0px;
		border-left: 5px solid #fff;
		right: 0px;
		top: 0px;
		bottom: 0px;
		border-bottom: 5px solid #fff;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		transition: all 150ms ease-in-out;
		padding-top: 10%;
		padding-left: 4em;
		padding-right: 4em; 
	}
	div.innerContent2 > div {
		position: absolute;
		left: 0px;
		right: 5px;
		top: 0px;
		bottom: 5px;
		height: 100%;
		width: 100%;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-image: url("myths_02.png");
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: -1;
	}

	div.innerContent2:hover > div {
		-moz-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);    
	}
	.innerContent3 {
		position: absolute;
		left: 0px;
		right: 0px;
		border-right: 5px solid #fff;
		top: 0px;
		border-top: 5px solid #fff;
		bottom: 0px;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		transition: all 150ms ease-in-out;
		padding-top: 10%;
		padding-left: 4em;
		padding-right: 4em; 
	}
	div.innerContent3 > div {
		position: absolute;
		left: 0px;
		right: 5px;
		top: 0px;
		bottom: 5px;
		height: 100%;
		width: 100%;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-image: url("myths_03.png");
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: -1;
	}

	div.innerContent3:hover > div {
		-moz-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);    
	}
	.innerContent4 {
		position: absolute;
		left: 0px;
		border-left: 5px solid #fff;
		right: 0px;
		top: 0px;
		border-top: 5px solid #fff;
		bottom: 0px;
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		transition: all 150ms ease-in-out;
		padding-top: 10%;
		padding-left: 4em;
		padding-right: 4em; 
	}
	div.innerContent4 > div {
		position: absolute;
		left: 0px;
		right: 5px;
		top: 0px;
		bottom: 5px;
		height: 100%;
		width: 100%;
		-moz-transition: all .5s;
		-webkit-transition: all .5s;
		transition: all .5s;
		-moz-transform: scale(1,1);
		-webkit-transform: scale(1,1);
		transform: scale(1,1);
		background-image: url("myths_04.png");
		-moz-background-size: cover;
		-webkit-background-size: cover;
		background-size: cover;
		z-index: -1;
	}

	div.innerContent4:hover > div {
		-moz-transform: scale(1.2,1.2);
		-webkit-transform: scale(1.2,1.2);
		transform: scale(1.2,1.2);    
	}
}


@media only screen and (max-width : 480px) {
	.wrap {
		overflow: hidden;
		margin-right: 0;
		padding-top: 60px;
		height: 200vh;	
		position: absolute;
		display: none;
	}


	/* Smartphone view: 1 tile */
	.box {
		width: 100%;
		height: 25%;   
	}
	.innerContent1 {
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 5px;
		padding-top: 9vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent2 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 10vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent3 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 7vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent4 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 0px;
		padding-top: 10vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {

	/* Tablet view: 1 tiles */
	.wrap {
		overflow: hidden;
		margin-right: 0;
		padding-top: 60px;
		height: 200vh;
		width: 100vw;
		position: absolute;
		display: none;
	}
	.box {
		width: 100%;
		height: 25%; 
	}

	.innerContent1 {
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent2 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent3 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent4 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 0px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
}
@media only screen and (max-width : 1050px) and (min-width : 651px) {
	/* Small desktop / ipad view: 3 tiles */
	.wrap {
		overflow: hidden;
		margin-right: 0;
		padding-top: 60px;
		height: 200vh;
		position: absolute;
		width: 100vw;
		display: none;
	}
	.box {
		width: 100%;
		height: 25%;
	}

	.innerContent1 {
		left: 0px;
		right: 0px;
		top: 0px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent2 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent3 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 5px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
	.innerContent4 {
		left: 0px;
		right: 0px;
		top: 5px;
		bottom: 0px;
		padding-top: 20vh;
		padding-left: 1em;
		padding-right: 1em; 
	}
}
@media only screen and (max-width : 1250px) and (min-width : 1051px) {
	.wrap {
		overflow: hidden;
		margin-right: 0;
		padding-top: 60px;
		height: 100vh;
		width: 100vw;
	}
	.box {
		width: 50%;
		height: 48%;
	}
}

h2.myths {
	font-size: 2.8vw;
	font-family: "europa",sans-serif;
	font-style: normal;
	font-weight: 700;
	letter-spacing: .05vw;
	line-height: 3.3vw;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
	margin-top: 2vw;
	padding-left: .5vw;
	padding-right: .5vw;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	display: none;
}
h4.myths {
	text-align: center;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	line-height: 1px;
	color: #fff;
	font-size: 1.3vw;
	letter-spacing: .4vw;
	margin-top: 3.5vw;
	font-weight: 500;
	display: none;
}


@media (min-width: 1251px) {
	.title-box {
		background-color: #ffd400;
		position: absolute;
		width: 46vw;
		height: 30vw;
		z-index: 100;
		top: 50%;
		left: calc(50% - 30px);
		margin: -15% 0 0 -23%;
		-webkit-box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
		-moz-box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
		box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
	}
}

@media (max-width: 1250px) {
	.title-box {
		background-color: #ffd400;
		position: absolute;
		width: 46vw;
		height: 30vw;
		z-index: 100;
		top: 50%;
		left: calc(50% - 30px);
		margin: -15% 0 0 -23%;
		-webkit-box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
		-moz-box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
		box-shadow: 4px 4px 25px 5px rgba(0,0,0,0.37);
	}
}

@media (max-width: 1050px) {
	.title-box {
		display: none;
	}
}

.mythTitleText {
	padding-left: 4vw;
	padding-right: 4vw;
}


	h2.mythsTitle {
		font-size: 4vw;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .1vw;
		line-height: 5vw;
		color: #000;
		text-align: center;
		margin-bottom: 0;
		margin-top: 6.5vw;
	}

	p.mythsTitle {
		font-family: "source-serif-pro",sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 2vw;
		text-align: center;
		line-height: 3vw;
	}




@media (max-width: 500px) {
	.titleBoxSmall {
		position: fixed;
		bottom: 0;
		background-color: #ffd400;
		height: 50px;
		width: 100vw;
		-webkit-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		-moz-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		display: none;
		z-index: 1500;
	}
}

@media (min-width: 501px) {
	.titleBoxSmall {
		position: fixed;
		bottom: 0;
		background-color: #ffd400;
		height: 50px;
		width: 225px;
		-webkit-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		-moz-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		display: none;
		z-index: 1500;
	}
}
@media (min-width: 1251px) {
	.titleBoxSmall {
		position: fixed;
		top: 0;
		background-color: #ffd400;
		height: 50px;
		width: 225px;
		-webkit-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		-moz-box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		box-shadow: -1px -1px 25px -2px rgba(0,0,0,0.25);
		display: none;
		z-index: 1500;
	}
}


h1.mythsTitleSmall {
	font-size: 14px;
	margin-top: -8px;
	margin-left: 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	position: relative;
}

@media (max-width: 500px) {
	.myths-text{
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		position: absolute;
		height: auto;
		background-color: #FAF8F4;
		z-index: 1000;
	}
}

@media (min-width: 501px) {
	.myths-text{
		width: 78%;
		margin-left: 11%;
		margin-right: 11%;
		margin-top: 25vw;
		position: absolute;
		height: auto;
		margin-bottom: 20vw;
		background-color: #FAF8F4;
		z-index: 1000;
	}
}

@media (min-width: 1001px) {
	.myths-text{
		width: 55%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 100vw;
		position: absolute;
		height: auto;
		margin-bottom: 20vw;
	}
}



@media (max-width: 500px) {
	h3.home-title{
		font-size: 34px;
	}
}

@media (min-width: 501px) {
	h3.home-title{
		font-size: 43px;
	}
}

@media (min-width: 1601px) {
	h3.home-title{
		font-size: 63px;
	}
}

a.def{
	color: #ffd400;
	text-decoration: underline;
}

span.tooltip:hover{
	cursor: help;
}

@media (max-width: 1050px) {
	.mythContent{
		height: auto;
		width: 100%;
		position: absolute;
		display: block;
		clear: both;
		margin-top: 60px;
	}
}

@media (min-width: 1051px) {
	.mythContent{
		height: auto;
		width: 100%;
		position: absolute;
		display: block;
		clear: both;
		margin-top: 100vh;
	}
}

@media (min-width: 1200px) {
	.mythContent{
		height: auto;
		width: 100%;
		position: absolute;
		display: block;
		clear: both;
		margin-top: 100vh;
	}
}

@media (min-width: 1601px) {
	.mythContent{
		height: auto;
		width: 100%;
		position: absolute;
		display: block;
		clear: both;
		margin-top: 100vh;
	}
}

.mythContent1 {
	position: relative;
	width: 100%;
	display: block;
}

.mythContent2 {
	position: relative;
	width: 100%;
	display: block;
}

@media (max-width: 700px) {
	.mythsBanner1{
		background-image: url("myths_01_02.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 50vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}


	.mythsBanner2{
		background-image: url("myths_02.png");
		background-position: top; 
		background-size: cover;
		width: 100%;
		height: 50vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
	.mythsBanner3{
		background-image: url("myths_03.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 50vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
	.mythsBanner4{
		background-image: url("myths_04.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 50vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
}

@media (min-width: 701px) {
	.mythsBanner1{
		background-image: url("myths_01_02.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 30vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}


	.mythsBanner2{
		background-image: url("myths_02.png");
		background-position: top; 
		background-size: cover;
		width: 100%;
		height: 30vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
	.mythsBanner3{
		background-image: url("myths_03.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 30vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
	.mythsBanner4{
		background-image: url("myths_04.png");
		background-position: center; 
		background-size: cover;
		width: 100%;
		height: 30vw;
		position: relative;
		padding-top: 0px;
		border-top: 10px solid #000;
	}
}

@media (max-width: 500px) {
	.myths-text{
		width: 80%;
		margin-left: 10%;
		margin-right: 10%;
		margin-top: 5vw;
		position: relative;
		height: auto;
		margin-bottom: 10vw;
	}
}

@media (min-width: 501px) {
	.myths-text{
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 5vw;
		position: relative;
		height: auto;
		margin-bottom: 10vw;
	}
}

@media (min-width: 1001px) {
	.myths-text{
		width: 55%;
		margin-left: 20%;
		margin-right: 20%;
		margin-top: 5vw;
		position: relative;
		height: auto;
		margin-bottom: 10vw;
	}
}

@media (max-width: 700px) {
	h2.bannerMyths {
		font-size: 6vw;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .05vw;
		line-height: 8vw;
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		margin-top: .5em;
		padding-left: 10vw;
		padding-right: 10vw;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	}
	h4.bannerMyths {
		text-align: center;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
		line-height: 1px;
		color: #fff;
		font-size: 3vw;
		letter-spacing: .4vw;
		margin-bottom: 0px;
		margin-top: 15vw;
		font-weight: 500;
	}
}

@media (min-width: 701px) {
	h2.bannerMyths {
		font-size: 5.3vw;
		font-family: "europa",sans-serif;
		font-style: normal;
		font-weight: 700;
		letter-spacing: .05vw;
		line-height: 6vw;
		color: #fff;
		text-align: center;
		margin-bottom: 0;
		margin-top: .5em;
		padding-left: 16vw;
		padding-right: 16vw;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	}
	h4.bannerMyths {
		text-align: center;
		text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
		line-height: 1px;
		color: #fff;
		font-size: 2vw;
		letter-spacing: .4vw;
		margin-bottom: 0px;
		margin-top: 7vw;
		font-weight: 500;
	}
}

/*h4.bannerMyths {
	text-align: center;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
	line-height: 1px;
	color: #fff;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 0px;
	margin-top: 6vw;
	}*/

	.firstLetter{
		float: left;
		font-size: 3.26em;
		line-height: 0.5;
		margin: 0.205em 0.153em 0 0;
		font-family: "europa",sans-serif;
		font-weight: 800;
		color: #0082c9;
	}

	.cover {
		width: 100%;
		height: 100%;
		background-color: #fff;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 90;
	}


